
.navbar img{
    height: 80px; /*adjust logo size*/
    width: auto; 

}


.tab {
  flex-shrink:0;
  white-space: nowrap;       /* prevent breaking mid-word */
  text-overflow: ellipsis;   /* truncate overflow */
  overflow: hidden;
  max-width: 350px;          /* controls length before overflow */
  background-color: rgb(131, 1, 206);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px 10px;
  transition: background-color 0.5s ease;
  text-decoration: none; /* REMOVE UNDERLINES FROM NAVLINK */
}

.tab:hover {
    transition: background-color lightgray 0.1s, ease;
    background-color: lightgray;
    transform:scale(1.1);
    
} 

.navbar {
  display: flex;
  justify-content: space-between; /* left = logo/title, right = tabs */
  align-items: center;
  padding: 0px 10px;
    background-color: yellow; /* nav colour*/
    z-index: 1000; /* height on page */
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-tabs {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: auto;               /* horizontal scroll if too wide */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on mobile */
  flex-shrink: 1;                  /* allow tabs to shrink if needed */
}

