.Home {
  text-align: center;
}

.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

.Home-logo-container{
    animation: Home-logo-pulse infinite 1s alternate;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20.00001s linear;

  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Home-logo-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
