*{
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.Card {
  background-color: Black;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  width: 400px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
