.navbar {
    display: flex; /* arrage logo and title in flexible row*/
    align-items: center; /*allign litems on header from the left*/
    gap: 10px; /* 10 pixel gap between items*/
    padding: 5px; /* padding from edges*/
    position: fixed; /* stick to top left corner*/
    top: 0; /* position to top */
    left: 0; /* position left */
    width: 100%; /*wdith across screen*/
    height: fit-content; /* height fits content */
    background-color: yellow; /* nav colour*/
    z-index: 1000; /* height on page */
}

.navbar img{
    height: 40px; /*adjust logo size*/
    width: auto; 

}

.navbar-tabs{
    position: fixed;
    right: 0;
    padding: 10px;
    display: flex; /* arrange tabs in flexible row */
    gap: 15px; /* 15 pixel gap between tabs */
}

/* Search */
.search{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-btn{
    background: rgba(131,1,206,1);
    border: none;
    padding: 6px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-btn svg path, .search-btn svg circle{
    stroke: #fff;
}

.search-form{
    display: inline-block;
}

.search-input{
    padding: 6px 8px;
    border-radius: 16px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    width: 180px;
}

.navbar h1 {
    display: flex; /* arrange title in flexible row */
    align-self: center;
    gap: 15px; /* 15 pixel gap between title and logo */
    font-size: 1rem; /* adjust title size */
    margin: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}


.tab {
  background-color: rgb(131, 1, 206);
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px 10px;
  transition: background-color 0.5s ease;
  text-decoration: none; /* REMOVE UNDERLINES FROM NAVLINK */
}

.tab:hover {
    transition: background-color lightgray 0.1s, ease;
    background-color: lightgray;
    transform:scale(1.1);
    
} 
