.About{
    text-align: center;
    background-color: black;
}
.About img{
    
    height: 320px; /*adjust logo size*/
    width: auto;
    position: relative;
    right: 30%;

}

.About p{

    margin-left: 40%;
    position: relative;
    bottom: 230px;

}

.About-header {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}