.Browse{
    text-align: center;
}

.Browse-header {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #333333;
}

.ProductCard{
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically if the container has height */
  flex-wrap: wrap;
  gap: 20px; /* spacing between cards */
  margin-top: 20px;
}