
.BusinessDashboard{
  background-color: black;
  color: white;
  min-height: 100vh;  
  text-align: center;
  font-family: sans-serif;
  padding: 0;
}


.BusinessDashboardHeader{
    padding: 20px;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.AddProductButton {
    background-color: #660066;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

.ProductItem {
  background-color: #9b2cff; 
  color: white;
  text-align: center;
  border-radius: 12px;
  padding: 10px;
  width: 250px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.ProductImage{
  width: 80%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  margin: 10px 0;
}