.Home {
  text-align: center;
}

.Home-logo {
  height: 50vmin;
  pointer-events: none;
}

.Home-logo-container{
    animation: Home-logo-pulse infinite 1s alternate;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo {
    animation: Home-logo-spin infinite 20.00001s linear;

  }
}

.Home-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Home-logo-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.about-box1 { /* added for home page, stolen from about.css */
    
    display: flex;             /* side-by-side layout */
    align-items: center;       /* vertically align image + text */
    gap: 20px;                 /* space between image and text */
    
    border: 2px solid #ccc;       /* visible box */
    padding: 20px;                  /* space inside */
    border-radius: 12px;            /* rounded corners */
    width: 75%;                     /* set a width or let it auto-size */
    background-color: #660066;    /* light background */
    margin: 20px auto;              /* center the box */

}
