
.ProductPage{
  text-align: center;
  font-family: sans-serif;
  padding: 0;
  background-color: black;
}

h2 {
  margin-top: 0;
  font-size: 30px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.ProductTitle {
  width: 80%;
}

.ProductTitle h1 {
  font-size: 60px;
  color: white;
  text-align: left;

}

.ProductImage {
  
  width: 40%;
  
  background-color: #660066;
  color: rgb(255, 255, 255);
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductImage img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 8px;
}

.ProductDetails{

  width: 60%;
  text-align: left;
  color: white;

}

.ProductContent {
  display: flex;
  width: 80%;
  gap: 40px;
  align-items: flex-start;
  margin-top: 40px;
}
